# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular data science languages
- List popular data science libraries
- List popular data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn

 Data Science Tools    |
| -------------------- |
| RStudio              |
| Apache Spark         |
| TensorFlow           |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# (3*4)+5
(3*4)+5

17

In [4]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Aayan